* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* ============================================================= */

/* PRACTICE QUESTION 0 ↓  */

/* .item1 {
  height: 150px;
  width: 150px;
  background-color: brown;
  margin-top: 30px;
} */

/* PRACTICE QUESTION 0 ↑  */

/* ============================================================= */

/* PRACTICE QUESTION 1 ↓  */

/* .item2 {
  height: 150px;
  width: 150px;
  background-color: brown;
  margin-top: 30px;
} */

/* PRACTICE QUESTION 1 ↑  */

/* ============================================================= */

/* PRACTICE QUESTION 2 ↓  */

/* button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #4f7cff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 1rem;
}

button:hover {
  background: #3f6df0;
} */

/* PRACTICE QUESTION 2 ↑  */

/* ============================================================= */

/* PRACTICE QUESTION 3 ↓  */



/* PRACTICE QUESTION 3 ↑  */

/* ============================================================= */